In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train=pd.read_csv('train_final.csv',index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10

# DROP THE COLUMN

In [3]:
labels=df_train["784"]
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0




# BUILD CNN MODEL

In [4]:




np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input,Dense
from keras.models import Sequential
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D,MaxPooling2D
from keras.utils import np_utils

In [5]:
labels=np.array(labels)

In [6]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [7]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

# store images in array

In [8]:
l=[] 
for i in range(167526): 
 
 l.append(np.array(df_train[i:i+1]).reshape(28,28,1))

In [9]:

np.random.seed(7)
model= Sequential()
model.add(Conv2D(30,(5,5),input_shape=(28,28,1),activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Conv2D(15,(3,3),activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128,activation='relu'))
model.add(Dense(50,activation='relu'))
model.add(Dense(13,activation='softmax'))

In [10]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 24, 24, 30)        780

 max_pooling2d (MaxPooling2D  (None, 12, 12, 30)       0
 )

 conv2d_1 (Conv2D)           (None, 10, 10, 15)        4065

 max_pooling2d_1 (MaxPooling  (None, 5, 5, 15)         0
 2D)

 dropout (Dropout)           (None, 5, 5, 15)          0

 flatten (Flatten)           (None, 375)               0

 dense (Dense)               (None, 128)               48128

 dense_1 (Dense)             (None, 50)                6450

 dense_2 (Dense)             (None, 13)                663

=================================================================
Total params: 60,086
Trainable params: 60,086
Non-trainable params: 0
_________________________________________________________________


# compile model

In [11]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])


# fit model

In [12]:
model.fit(np.array(l), cat, shuffle=True, epochs=7)

Epoch 1/7
5236/5236 [==============================] - 133s 23ms/step - loss: 0.2261 - accuracy: 0.9384
Epoch 2/7
5236/5236 [==============================] - 120s 23ms/step - loss: 0.0748 - accuracy: 0.9789
Epoch 3/7
5236/5236 [==============================] - 122s 23ms/step - loss: 0.0499 - accuracy: 0.9862
Epoch 4/7
5236/5236 [==============================] - 112s 21ms/step - loss: 0.0431 - accuracy: 0.9880
Epoch 5/7
5236/5236 [==============================] - 112s 21ms/step - loss: 0.0375 - accuracy: 0.9895
Epoch 6/7
5236/5236 [==============================] - 116s 22ms/step - loss: 0.0359 - accuracy: 0.9902
Epoch 7/7
5236/5236 [==============================] - 119s 23ms/step - loss: 0.0321 - accuracy: 0.9915s - loss: 0.0321 - accuracy: 0.

In [ ]:
# import matplotlib.pyplot as plt
# plt.imshow(I[2000],cmap='binary')
# plt.show()
import cv2
img=cv2.imread("C:/Users/Srilatha/Desktop/Handwritten equation solver using CNN/EQUATION.JPG",cv2.IMREAD_GRAYSCALE)
cv2.imshow("w",img)
cv2.waitKey(0)
cv2.destroyAllWindows()
if img is not None:
    img=~img
    _,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
    _,ctrs,_=cv2.findContours(thresh,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)
    cnt=sorted(ctrs,key=lambda ctr:cv2.boundingRect(ctr)[0])
    w=int(28)
    h=int(28)
    train_data=[]
    rects=[]
    for c in cnt:
        x,y,w,h=cv2.boundingRect(c)
        rect=[x,y,w,h]
        rects.append(rect)
        #to remove unwanted or extra contour
    print("rects",rects)
    bool_rect=[]
    for r in rects:
        l=[]
        for rec in rects:  
            #compare each rect with all other , find difference between area 
            #min difference discard th emax one
            flag=0
            if rec!= r:
                if r[0]<(rec[0]+rec[2]+10) and res[0]<(r[0]+r[2]+10) and r[1]<(rec[1]+rec[3]+10) and res[1]>(r[1]+r[3]+10):
                    flag=1
                l.append(flag)       
            if rec==r:
                l.append(0)
        bool_rect.append(l)
    print("bools",bool_rect)
    dump_rect=[]
    for i in range(0,len(cnt)):
        for j in range(0,len(cnt)):
            if bool_rect[i][j]==1:
                area1=rects[i][2]*rects[i][3]
                area2=rects[j][2]*rects[j][3]
                            #take rect with maximum area
                if(area1==min(area1,area2)):
                    dump_rect.append(rects[i])
    print("dump_rects",dump_rect)
                #all final rects excluding dump
    final_rects=[i for i in rects if i not in dump_rect]
    print("final_rects",final_rect)
    for r in final_rects:
        x=r[0]
        y=r[1]
        w=r[2]
        h=r[3]
        im_crop=thresh[y:y+h+10,x:x+w+10]
        
        im_resize=cv2.resize(im_crop,(28,28))
        cv2.imshow("work",im_resize)
        cv2.waitKey(0)
        cv2.destroyAllWindows()
        train_data.append(im_resize)

# PREDICTION

In [ ]:
s=""
for i in range(0,len(train_data)):
    train_data[i]=np.array(train_data[i])
    train_data[i]=train_data[i].reshape(1,28,28,1)
    result=model.predict_classes(train_data[i])
#     print(result[0])
#     print(result)
    if(result[0]==10):
        s=s+"-"
    if(result[0]==11):
        s=s+"+"
    if(result[0]==12):
        s=s+"*"
    if(result[0]==0):
        s=s+"0"
    if(result[0]==1):
        s=s+"1"
    if(result[0]==2):
        s=s+"2"
    if(result[0]==3):
        s=s+"3"
    if(result[0]==4):
        s=s+"4" 
    if(result[0]==5):
        s=s+"5"
    if(result[0]==6):
        s=s+"6"
    if(result[0]==7):
        s=s+"7"
    if(result[0]==8):
        s=s+"8"
    if(result[0]==9):
        s=s+"9"
print(s)

In [ ]:
eval(s)